
.receita-info{
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
}

.receita-info img{
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 450px;
    object-fit: cover;
}

.salvar {
    margin: 12px;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
    background-color: #80b918;
    color: #fff;
    box-shadow: 1px 2px 4px rgb(0, 0, 0);
}